body {
	background: #ccc;
}

header {
	text-align: center;
	letter-spacing: 2px;
	color: white;
	text-shadow: 2px 2px 2px black;
}

#carousel {
	width: 400px;
	height: 300px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	border-width: 5px;
	border-style: ridge;
}

.gallery {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 2000px;
}

.photo {
	display: block;
	float: left;
	width: 400px;
	height: 300px;
}

.photo img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}